<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<title>VueJs</title>
	<link rel="stylesheet" href="./index.css">
	<script src="./vue.min.js"></script>
	<script src="./vue-resource.min.js"></script>
	<script src="./bscroll.min.js"></script>
</head>
<body>
	<div id="app">
			<div class="header"></div>
			<div class="food-wrapper clearfix">
				<div class="food-list" ref="foodList">
					<ul>
						<li class="food-list-item" v-for="(item,index) in foodsList" :class="{'active': currentIndex==index }" @click='selectedIndex(index,$event)'>
							{{item.name}}
						</li>
					</ul>
				</div>
				<div class="detail-list" ref='detailList'>
					<ul>
						<li class="detail-list-item" v-for = '(item,index) in foodsList'>
							<div class="detail-list-wrapper">
								<div class="detail-list-title">{{item.name}}</div>
								<div class="detail-list-foods-list">
										<div class="detail-list-foods-list-item" v-for = '(foodsItem,index) in item.foods'>
											<div class="detail-list-foods-list-item-name">{{foodsItem.name}}</div>
											<div class="detail-list-foods-list-item-price">
												<span>
													<a>现价</a>
													<a class="curPrice">{{foodsItem.price}}</a>
												</span>
												<span v-if="foodsItem.oldPrice" class="item-oldPrice">
													<a class="oldPrice">原价</a>
													<a>{{foodsItem.oldPrice}}</a>
												</span>
											</div>
											<div class="sales-num">
												<a class="sales-text">销售数量</a>
												<a class="sales-total">{{foodsItem.sellCount}}</a>
											</div>
										</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="mask-pop" v-show='isShow'>
					<div class="loader">
		        <div class="loader-inner ball-clip-rotate-pulse">
		          <div></div>
		          <div></div>
		        </div>
		      </div>
				</div>
			</div>
	</div>
</body>
</html>
<script>

	let app = new Vue({
      el: '#app',
      data: {
        goodsList: {},
        foodsList: [],
        scrollY: 0,
        itemHeight: [],
        isShow: true
      },
      computed: {
    		currentIndex: function() {
    				let len = this.itemHeight.length;
    				// console.log(this.itemHeight);
    				for(let i=0; i<len; i++) {
    					let height1 = this.itemHeight[i];
    					let height2 = this.itemHeight[i+1];
    					if(!height2 || this.scrollY >= this.itemHeight[i] && this.scrollY < this.itemHeight[i+1]) {
    						return i;
    					}
    				}
    				return 0;
    		}
      },
      created: function () {
      	let self = this;
        this.$http.get('http://www.easy-mock.com/mock/5a129cbe46ed8d690fddccdf/example/goods')
        	.then(function(res) {
      			// console.log(res);
      			this.goodsList = res.body;
      			this.foodsList = this.goodsList.goods;
      			this.isShow = false;
    				this.$nextTick(function() {
      					this._initScroll();
      					this.calculateHeight();
      			})
        	});
      },
      mounted: function() {
      	
      },
      methods: {
      	_initScroll: function() {
      		let self = this;
					this.foodListScroll = new BScroll(this.$refs.foodList,{
  					click: true
  				});
  				this.detailListScroll = new BScroll(this.$refs.detailList,{
  					click: true,
  					probeType: 3
  				});

  				this.detailListScroll.on('scroll', function(pos) {
  					self.scrollY = Math.abs(Math.round(pos.y));
  				});
      	},
      	selectedIndex: function(index,e) {
    			// this.currentIndex = index;
    			let detailListItem = this.$refs.detailList.querySelectorAll('.detail-list-item');
    			this.detailListScroll.scrollToElement(detailListItem[index],300);
      		// this.calculateHeight();
      	},
      	calculateHeight: function() {
      		let detailListItem = this.$refs.detailList.querySelectorAll('.detail-list-item');
      		let Height = 0;
      		this.itemHeight = [];
      		this.itemHeight.push(Height);
      		let len = detailListItem.length;
      		for(let i=0; i<len; i++) {
      			// console.log(detailListItem[i].clientHeight);
      			Height += detailListItem[i].clientHeight;
      			this.itemHeight.push(Height);
      		}
      	}
      }
   })
</script>